<div style="background-color: #040404;" id="contact">
    <div class="container-fluid p-5">
        <p class="text-light fs-2 col-sm-4">
            ¿Tienes alguna duda?
            Contactanos aquí
        </p>
        <div class="d-flex row">
            <div class="col-sm-4 ">
                <h5 class="text-light">Escribe tu mensaje</h5>
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="field">
                                <input type="text" id="nombre" placeholder=" " required>
                                <label for="nombre">Nombre</label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="field">
                                <input type="email" id="correo" placeholder=" " required>
                                <label for="correo">Correo electrónico</label>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <textarea id="mensaje" rows="3" placeholder=" " required></textarea>
                        <label for="mensaje">Tu mensaje</label>
                    </div>

                    <button type="submit" class="btn-send">
                        Enviar
                    </button>
                </form>
            </div>
            <div class="container col-sm-2  pb-5 d-flex justify-content-star">
                <div >
                    <h5 class="text-light">Ponte en contacto</h5>

                    <p class="text-light fs-6">
                        Calle Primavera #139. Fraccionamiento
                        La Alborada Tuxtla Gutiérrez, Chiapas.
                        C.P. 2902
                    </p>

                    <p class="text-light">hi@profrix.com</p>
                    <p class="text-light">+52 961 888 8888</p>
                </div>

            </div>
            <div class="col-sm-2  pb-5">
                <h5 class="text-light">Nuestra Redes</h5>


                <ul style="list-style: none; padding: 0; margin: 0;  gap: 16px;">
                    <li>
                        <a class="text-decoration-underline" href="#"
                            style="color: white; text-decoration: none;">LinkedIn</a>
                    </li>
                    <li>
                        <a class="text-decoration-underline" href="#"
                            style="color: white; text-decoration: none;">WhatsApp</a>
                    </li>
                    <li>
                        <a class="text-decoration-underline" href="#"
                            style="color: white; text-decoration: none;">Facebook</a>
                    </li>
                    <li>
                        <a class="text-decoration-underline" href="#" style="color: white; text-decoration: none;">X</a>
                    </li>
                    <li>
                        <a class="text-decoration-underline" href="#"
                            style="color: white; text-decoration: none;">Instagram</a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-3">
                <div>
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8942.577158478807!2d-93.10974597261891!3d16.778511863206273!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ecd9aa4fd86359%3A0xbe872c128112c9b4!2sFLORENCIA%20SAL%C3%93N%20DE%20FIESTAS!5e0!3m2!1ses-419!2smx!4v1771298754590!5m2!1ses-419!2smx"
                                width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
            </div>

        </div>
    </div>
</div>