.section {
    background: #f8f8f8;
    padding: 100px 20px;
    display: flex;
    justify-content: center;
}

.card {
    background: white;
    /* padding: 60px 40px; */
    border-radius: 20px;
    text-align: center;
    width: 320px;
    transition: 0.3s ease;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.08);
}

.icon-wrapper {
    width: 100px;
    height: 100px;
    margin: 0 auto 30px;
    border-radius: 50%;
    background: linear-gradient(145deg, #f1f1f1, #ffffff);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #111;
    box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.05),
        inset -5px -5px 15px rgba(255, 255, 255, 0.7);
}

.card h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
    position: relative;
}

.card h3::after {
    content: "";
    width: 50px;
    height: 3px;
    background: #ff4d4d;
    display: block;
    margin: 12px auto 0;
    border-radius: 10px;
}

.btn {
    display: inline-block;
    padding: 12px 30px;
    border-radius: 30px;
    text-decoration: none;
    border: 1px solid #111;
    color: #111;
    transition: 0.3s;
}

.btn:hover {
    background: #111;
    color: white;
}

.tex_movil {
    font-size: 4rem;
}

@media (max-width: 576px) {
    .tex_movil {
        font-size: 2rem;
    }
}

.navbar-toggler {
    border: none !important;
    box-shadow: none !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
    outline: none !important;
}



.modal-content {
    border-radius: 20px;
    border: none;
}

.modal-header {
    border-bottom: none;
}

.modal-body {
    padding: 2.5rem;
}

.modal-backdrop.show {
    opacity: 0.7;
}